html {
    margin: 0;
    padding: 0;
    background-color: #747A89;
}

body {
    margin: 0;
    padding: 0;
}

h1.head {
    margin: 0 0 10px 0;
    padding: 5px 0 8px 180px;
    background-color: #683B00;
    background-image: url('file:///Users/dennis/Library/Application Support/TextMate/Bundles/symfony.tmbundle/Support/img/symfony_logo.gif');
    background-repeat: no-repeat;
    color: white;
    text-shadow: #333333 2px 3px 3px;
}

pre.code {
    margin: 0 5px 0 5px;
    padding: 5px;
    background-color: black;
    border: 1px solid #AAAAAA;
    color: white;
}